APP_NAME="Asa Production"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# Groq API — ambil key di https://console.groq.com
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
